.container {
  background-color: #fff;
  max-width: 100%;
}

#navbar {
  padding: 0;
  margin: -20px 0 auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  padding: 20px;
}

.col {
  padding: 20px;
}


.product {
  background-color: #E8EEF4;
  margin: 30px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;
}

.color-example {
  border-radius: 50em;
  border: none;
  padding: 5px;
  height: 5px;
  width: 5px;
  margin: 0 10px;
}

.product-bttn {
  background-color: #E8EEF4;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: auto;
  font-weight: 600;
  font-size: 1em;
  box-shadow: 5px 5px #888888;
}

.product-bttn:hover {
  cursor: pointer;
}

.product-bttn:disabled {
  opacity: 0.5; 
}


/* Side Menu */

.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: #000;
}

/* The navigation menu links */
.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}